.idea
_artifacts

.env
config/app.env
src/version

vendor
public/bundles

runtime
public/assets

docker-compose.override.yml
tests/codeception/_output
local.php
tests/codeception/_support/_generated
tests/_log
.php_cs.cache
